services:
  backend:
    container_name: pagif-backend
    image: ifrs/pagif-backend:latest
    build: ./backend/
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - logs:/home/node/app/logs
  frontend:
    container_name: pagif-frontend
    image: ifrs/pagif-frontend:latest
    build: ./frontend/
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - NITRO_HOST=${NITRO_HOST:-0.0.0.0}
      - NITRO_PORT=${NITRO_PORT:-3000}
      - NITRO_SHUTDOWN=true
    ports:
      - "${DOCKER_PORT:-3000}:${NITRO_PORT:-3000}"
volumes:
  logs:
