# Logs
LOG_TO_FILE="true"
LOG_LEVEL="info"

# Servidor
LISTEN_PORT=""
TRUST_PROXY=""

# Integrações externas
PAGTESOURO_URL=""
APP_URL=""

# Banco de dados
DB_URL=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

# Sessão e autenticação
SESSION_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_ALLOWED_HOSTED_DOMAINS=""

# CAPTCHA
ALTCHA_HMAC_KEY=""
